body {
     overflow-x: hidden;
     height: 110%;
     min-height: 100%;
     position: relative;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
     width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
     background: var(--color-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: var(--color-terciary);
}

.btn-primary {
     padding: 10px;
     height: 52px;
}
.btn-primary i {
     margin-right: 10px;
}

.founder {
     margin: 3rem 0;
}

.newsletter {
     background: linear-gradient(
          to right,
          var(--color-primary),
          var(--color-secondary),
          var(--color-primary)
     );
}

.bounce-in-right {
     animation: bounce-in-right 1.5s both;
}

.bounce-in-left {
     animation: bounce-in-left 1.5s both;
}

@keyframes bounce-in-left {
     0% {
          transform: translateX(-600px);
          animation-timing-function: ease-in;
          opacity: 0;
     }
     38% {
          transform: translateX(0);
          animation-timing-function: ease-out;
          opacity: 1;
     }
     55% {
          transform: translateX(-68px);
          animation-timing-function: ease-in;
     }
     72% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
     81% {
          transform: translateX(-28px);
          animation-timing-function: ease-in;
     }
     90% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
     95% {
          transform: translateX(-8px);
          animation-timing-function: ease-in;
     }
     100% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
}

@keyframes bounce-in-right {
     0% {
          transform: translateX(600px);
          animation-timing-function: ease-in;
          opacity: 0;
     }
     38% {
          transform: translateX(0);
          animation-timing-function: ease-out;
          opacity: 1;
     }
     55% {
          transform: translateX(68px);
          animation-timing-function: ease-in;
     }
     72% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
     81% {
          transform: translateX(32px);
          animation-timing-function: ease-in;
     }
     90% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
     95% {
          transform: translateX(8px);
          animation-timing-function: ease-in;
     }
     100% {
          transform: translateX(0);
          animation-timing-function: ease-out;
     }
}

/*************************/
/*     Whatsapp     */
/*************************/

.float {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 2rem;
     right: 2rem;
     background-color: #25d366;
     color: #fff;
     border-radius: 50px;
     text-align: center;
     font-size: 30px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;

     animation-name: pulse-animation;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
}

.float:hover {
     text-decoration: none;
     color: #fff;
     background-color: #1ab152;
}

.my-float {
     margin-top: 16px;
}

@keyframes pulse-animation {
     0% {
          box-shadow: 0 0 0 #25d36657;
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}

.footer h6,
.footer .contact-footer,
.footer .icons-footer i {
     color: var(--color-secondary) !important;
}

.icons-footer {
     display: flex;
     justify-content: center;
     font-size: 2rem;
     gap: 25px;
     text-decoration: none;
}

.footer .icons-footer span a i :hover {
     color: var(--color-primary);
}

.catalog-container {
     margin-top: 10rem;
     margin-bottom: 8rem;
}

.catalog-container .col {
     padding: 15px;
}

.catalog-container .col {
     animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active {
     color: var(--color-primary);
}

#cart {
     cursor: pointer;
}

.available {
     display: flex !important;
     gap: 4px;
     color: green;
}

.sold-out {
     display: flex !important;
     gap: 4px;
     color: red;
}

.btn-success i::before {
     padding-right: 5px;
}

.footer-complete {
     position: absolute;
     width: 100%;
     bottom: 0;
}

.navbar-collapse {
     justify-content: right;
}

.btn-primary a:hover {
     text-decoration: none;
}

.navbar {
     font-size: 14px;
}

.header {
     height: 100vh;
}

.header .h1-large {
     max-width: 550px;
}

.header .container {
     display: flex;
     height: 100%;
     align-items: center;
}

.header .row {
     width: 100%;
}

.modal-dialog {
     float: right;
     width: 500px;
     margin: 10px 10px 0 0;
     height: 98.8%;
}

.modal-content {
     height: 98.8%;
}

.spinner-button {
     width: 160px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 35px;
     cursor: auto;
     pointer-events: none;
}

.show {
     visibility: visible;
     opacity: 1;
}

.hidden {
     visibility: hidden;
     opacity: 0;
}

.btn-success,
.btn-primary {
     background-color: var(--color-terciary);
     color: var(--color-secondary);
     border-color: var(--color-terciary);
}

.btn-success:disabled,
.btn-primary:disabled {
     background-color: var(--color-terciary);
     color: var(--color-secondary);
     border-color: var(--color-terciary);
}

.btn-success:hover,
.btn-success:focus,
.btn-primary:hover,
.btn-primary:focus {
     background-color: var(--color-secondary);
     color: var(--color-terciary);
     border-color: var(--color-terciary);
}

.fa-shopping-cart {
     position: relative;
}

.cart-notification {
     position: absolute;
     top: -5px;
     right: -5px;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     background-color: var(--color-terciary);
     color: white;
     font-size: 10px;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
}

.slide-in-top {
     animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-top {
     0% {
          transform: translateY(-1000px);
          opacity: 0;
     }
     100% {
          transform: translateY(0);
          opacity: 1;
     }
}
@keyframes slide-in-bottom {
     0% {
          transform: translateY(1000px);
          opacity: 0;
     }
     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

.slide-in-right {
     -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
     animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
     0% {
          -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
          opacity: 0;
     }
     100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
     }
}
@keyframes slide-in-right {
     0% {
          -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
          opacity: 0;
     }
     100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
     }
}
